.app-bar {
  position: sticky;
  width: 100vw;
  height: 6vh;
  background-color: #21222b;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  &__left {
    display: flex;
    font-weight: bold;
    font-size: 14px;

    &__item {
      text-decoration: none;
      color: #bcbcbf;
      margin-left: 8px;
      margin-right: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      :first-child {
        margin-right: 4px;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
      margin-right: 8px;
      text-decoration: none;
      color: #bcbcbf;

      :first-child {
        margin-right: 4px;
      }
    }
  }
}
